div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 0.5%;
    padding-left: 1%;
}

.home {
    color: black;
    font-size: 120%;
    font-weight: bold;
}

.about {
    color: black;
    font-size: 120%;
    font-weight: bold;
}

hr {
    border: 0.5px solid #f01536;
}